* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-size: 30px;
}

.caja-fixed {
  background-color: red;
  position: sticky; /*Mantiene el espacio en la página al contrario del position fixed.
  si el elemento se encuentra entre 2 elementos al hacer scroll se hace el efecto del fixed y se mantiene arriba*/

}


